<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
<h2>Posts</h2>

<section id = "posts"> 
    <ul class = postlist>
        <% results.forEach(function(post) {%>
            <li class = "eachpost">
                <img 
                    class="postimage"
                    src= "<%= post.imageUrl %>" 
                    alt="<%= post.message %>"
                >
                <div class= "post-card">
                    <p>This is the message <%= post.message %></p>
                    <div class= "likes-and-dislikes">
                        <a 
                            title = "<% post.likedBy.forEach(function(like) {%> <%= like.name %>&#10;<% }); %>" 
                            style="font-size:25px;"> 
                            <img 
                                src = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/thumbs-up.png" 
                                width ="20"> : <%= post.likedBy.length %>
                        </a> 


                        <a 
                            title = "<% post.dislikedBy.forEach(function(dislike) {%> <%= dislike.name %>&#10;<% }); %>" 
                            style="font-size:25px;"> 
                            <img 
                                src = "http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/thumbs-down.png" 
                                width ="20">: <%= post.dislikedBy.length %>
                        </a>
                        
                    </div>
                    <div  class= "likes-and-dislikes">
                        <div>
                            <form 
                            method="post" 
                            action = "/posts/<%= post.id %>/like">
                            <button type="submit">Like</button>
                        </div>
                        <div>
                            </form>
                            <form method="post" action = "/posts/<%= post.id %>/dislike">
                            <button type="submit">Dislike</button>
                            </form>
                        </div>

                    </div>
                </div>
            </li>
        <% }); %>
        </ul>
</section>


<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>